<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <!-- <style>
    .my-container {
      border: 1px solid green;
    }

    .my-row {
      border: 3px solid red;
      height: 300px;
    }

    .my-col {
      border: 2px dotted lightslategray;
    }

    .body {
      margin: 30px;
    }
  </style> -->
  <title>Thrash detection!</title>
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Recycleye</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            Dropdown
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#">Disabled</a>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div> -->
  </nav>

  <div class="container my-container">
    <div class="row">
      <h1 class="page-header">Thrash detector</h1>
      <p class="text-left text-lowercase">The trash detector app will find the differences between two images, and
        return the second image showing a green bounding box.</p>
      <br>
      <p>Upload two images below</p>
    </div>

    {% block main %}

    <div class="container">

      <!-- <h4>Upload the first image</h4> -->
      <hr>

      <form action="/" method="POST" enctype="multipart/form-data">
        <div class="row">
          <div class="col">
            <div class="form-group">
              <label>First image</label>
              <div class="custom-file">
                <input type="file" class="custom-file-input" name="image-1" id="image-1" required>
                <label class="custom-file-label" for="image-1">Select image...</label>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="form-group">
              <label>Second image</label>
              <div class="custom-file">
                <input type="file" class="custom-file-input" name="image-2" id="image-2" required>
                <label class="custom-file-label" for="image-2">Select image...</label>
              </div>
            </div>
          </div>
          <div class="col-md-1"><button type="submit" class="btn btn-primary">Upload images</button></div>
        </div>
      </form>

      {% if filename %}
      <hr>
      <div class="row">
        {% if bounds %}
        <h4>Detected bounding box {{ bounds }}</h4>
        {% else %}
        <h4>No bounding box detected</h4>
        {% endif %}
      </div>
      <div class="row">
        <div class="col">
          <h6>Original image</h6>
          <div>
            <img src="{{ url_for('display_image', filename=first) }}" width="500">
          </div>
        </div>
        <div class="col">
          <h6>Second image</h6>
          <div>
            <img src="{{ url_for('display_image', filename=filename) }}" width="500">
          </div>
        </div>
      </div>
      {% endif %}
    </div>


    {% endblock %}
  </div>

  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa3b4Q"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
  <script>
    $('#image-1').on('change', function () {
      //get the file name
      var fileName = $(this).val();
      //replace the "Choose a file" label
      $(this).next('.custom-file-label').html(fileName);
    })
  </script>
  <script>
    $('#image-2').on('change', function () {
      //get the file name
      var fileName = $(this).val();
      //replace the "Choose a file" label
      $(this).next('.custom-file-label').html(fileName);
    })
  </script>
</body>

</html>